.courses_header{
    text-align: center;
background-image: url(../image/young-woman-teacher-wearing-glasses-standing-near-blackboard-classroom-explaining-lesson-showing-thumb-up-smiling-cheerfully-happy-positive.jpg);
background-size: cover;

padding: 100px 0 100px 0;
background-position: center 80% ;

}
.courses_header h1{
    color: white;
    font-size: 60px;
}
.video_detils{
    height: 2000px;
    margin-top: 50px;
}
.my{
    color: red;
}